@use 'variables' as v ; 
input{
    display: block;
   padding:1rem 1rem ;
   margin: auto;
//    border-radius: 5px;
   border: none ;
   border-bottom:solid 1px black ;
 
}
select{
    display: block;
    padding: 1rem;
    margin: auto;
    width: 17.8rem;
    border-color: black;
    border-top:none ;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
input:after{
    box-decoration-break:none ;
}
.bmr{
    width: 100%;
    place-items: center;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
}
 .bmr-form{
    margin: auto;
    text-align: center;
    align-items: center;
    place-items: center;
}
.side-border{
    border-left: solid 1px black;
    border-right: solid 1px black;
}
.weight{
    border-top:solid 1px black;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}
label{
    color: black;
    // background: v.$blueGradient;
    font-family: v.$primeFont;
    padding: 0 2rem;
    font-size: 2rem;
    font-weight: 600;
    // letter-spacing: 2px;
    margin: 2rem 0px 1rem 0px ;
    // margin: 2rem 0 ;
    letter-spacing: 2px;
}
#bmrTracker{
    padding: 10px 5rem;
    margin: 2rem 0 ;
    background: v.$blueGradient;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
}

@media screen and (min-width: 1080px) {
    
    input{
        padding:1rem 2rem ;
    }
    select{
        width: 19.5rem;
    }
    #bmrTracker{
        padding: 10px 6rem;}


  }

  @media screen and (max-width: 480px) {

    input{
        padding:1rem 2rem ;
    }
    select{
        width: 17.8rem;
    }
    #bmrTracker{
        padding: 10px 5.2rem;}

  }